body{
    width: 100%;
    font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

.main{
    width: 100%;
}

.main div	{
    width: 700px;
    text-align: center;
    font-size: 1em;
    margin: 0 auto;
}

table {
    width: 100%;
    background: rgb(250, 250, 250);
}

a {
    text-decoration: none;
    color: rgb(33, 33, 33);
}

.pager span{

}
.pager span:hover{
color:#E48E00;
}