p {
  margin: 0;
}

body{
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.168;
  width: 100%;
  text-align: center;
  -webkit-text-size-adjust: 100%;
}

.wrapper {
	overflow: hidden;
}

section.production {
  width: 100%;
  height: auto;
  background-color: #141414;
}

section.production ul {
  list-style: none;
  padding: 0 0 0 0;
  margin: 0;
}

section.production li {
  display: inline-block;
  background-color: #141414;
  width: 48%;
  cursor: pointer;
}

section.production li p {
  position: relative;
}

section.production img {
  width: 100%;
  transition: 0.7s;
}
